<ion-header>
  <ion-toolbar>
    <ion-title>servicelist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">  
      <ion-fab-button color="dark" (click)="addService()">  
        <ion-icon name="add"></ion-icon>  
      </ion-fab-button>  
    </ion-fab>      
    
    <ion-list>  
        <ion-item button (click)="updateService(job.id)"*ngFor="let job of ( jobs | async)">  
          {{ job.name}},  {{job.minimumPrice}}
        </ion-item>  
      </ion-list>  

</ion-content>