<ion-content  style="position: relative;">

	<div class="livedeals">
		<ion-item text-wrap class="pointer" (click)="navigateToStorePage(liveDeal.Store)">
			<ion-thumbnail item-start>
				<img lass="img-responsive store-logo">
			</ion-thumbnail>
			<span class="offer-name" ion-text color="light">
			terst test
			</span>
			<div class="offer-totalPrice" item-end color="secondary">
				<span style="font-size: 0.8em; color: #f4f4f4;">test</span>
				<br/>
				<span>tests ertwert wert wert wert</span>
			</div> 
		</ion-item>
	</div>
	<!-- <ion-row text-center>
		<ion-col>
			<h1 ion-text color="light">Food Order</h1>
		</ion-col>
	</ion-row> -->
</ion-content>