
<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons (click)="openLocation()" slot="start">
        <ion-icon size="large" name="location-outline"></ion-icon>
      </ion-buttons>
      <ion-title class="location-title" >Location</ion-title>
      <ion-title class="current-title">{{currentLocation | async}}</ion-title>
     
      <ion-buttons (click)="openCart()" slot="end">
          <div class="cart-length">{{cartItemCount | async}}</div>
          <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>