<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="home" color="dark"></ion-back-button>
      <ion-title>Schedule</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <mat-tab-group (selectedTabChange)="onSequenceChangeEvent($event)">       
      <mat-tab *ngFor="let day of days" [label]="day">
          <app-time-schedule [day]="day"></app-time-schedule>
      </mat-tab>
    </mat-tab-group>
</ion-content>