<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Sign Up</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="center"> 
       <app-logo></app-logo>
      <h1>Create Acount</h1>
    </div>
  
    <form>
        <ion-list>        
            <ion-item>
                <ion-label type="text" position="floating">Email</ion-label>
                <ion-input></ion-input>
              </ion-item>  
          <ion-item>
              <ion-label type="text" position="floating">User name</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label type="password" position="floating">Password</ion-label>
                <ion-input></ion-input>
            </ion-item>    
            
            <ion-button expand="block" (click)="navigateToLogin()" shape="round">Submit</ion-button>
           
         
        </ion-list>
    </form>
  </ion-content>
  