<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Partner Providers</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>



  <ion-card [routerLink]="['/home/request', serviceId, name, service.Partner[0].userId]"  *ngFor="let service of  services | async   ">

      <ion-item>
          <ion-avatar slot="start">
            <img [src]="service.Partner[0].imageURL">
          </ion-avatar>
          <ion-label>
            <h3>{{service.Partner[0].lastName}}, {{service.Partner[0].firstName}}</h3>
            <p>(2.5Km)</p>
            <p> <star-rating value="3.5" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="true" (rate)="onRate($event)"></star-rating>
            </p>
          </ion-label>
        </ion-item>   
  </ion-card>
</ion-content>