

<ion-content >
  <section text-center>
    <div class="profile-image">
      <img src="assets/images/logo.png" alt="ECQ project logo" />
    </div>
  </section>

  <ion-grid no-padding >
    <ion-row >
      <ion-col  col-6 >
        <ion-card (click)="gotoEmployees()" >
          <ion-img src="assets/images/lifestyle.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="gotoEmployees()" >
          <ion-img src="assets/images/entertainment.png"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card  (click)="gotoEmployees()" >
          <ion-img src="assets/images/healthwellness.png"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>    
    
  </ion-grid>
</ion-content>